@import "~foundation-sites/scss/foundation";

// colors
$primary-color: #906bff;
$primary-color-light: #b298ff;
$text: #141414;
$text-invert: #fff;
$background: #171F30;
$light-gray: #f3f5f7;
$medium-gray: #cbd2da;
$anchor-color: $primary-color;
$anchor-color-hover: #8284ff;
$body-font-color: $text;
$code-color: $text;
$code-background: $light-gray;
$table-striped-background: $light-gray;
$table-head-background: $table-striped-background;
$table-body-background: $table-striped-background;
$hr-color: $dark-gray;

// type
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$header-font-weight: bold;
$hr-margin: 1em 0;
$hr-width: none;
$code-border: none;
$table-border: 1px solid $light-gray;

// syntax highlighting
$codeSyntax: (
  color: $text,
  background: $code-background,
  comment: #7e8a9c,
  punctuation: #9ea5af,
  property: $primary-color,
  boolean: #fa628d,
  string: #20af50,
  variable: $primary-color,
  atrule: #2196f3,
  keyword: $primary-color,
  regex: #eb6f1d
);

// layout
$mobile-navbar-height: 64px;
$mobile-navbar-toggle-height: 24px;
$hero-frame-padding-mobile: 16px;
$hero-frame-padding: 48px;
$hero-frame-radius: 12px;

// responsiveness
$breakpoints: (
  small: 0,
  medium: 760px,
  large: 1140px
);