// colors
$primary-color: #906bff;
$primary-color-light: #b298ff;
$text: #141414;
$text-invert: #fff;
$background: #171F30;
$anchor-color: #b298ff;
$anchor-color-hover: #8284ff;
$body-font-color: $text;
$code-color: $text;

// type
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$header-font-weight: bold;
$hr-margin: 1em 0;
$hr-width: none;

// code layout
$codeSyntax: (
  color: #eeeeee,
  background: $background,
  comment: #7e8a9c,
  punctuation: #c9c9c9,
  property: $primary-color-light,
  boolean: #fa628d,
  string: #5aec9c,
  variable: $primary-color-light,
  atrule: #75b1ff,
  keyword: $primary-color-light,
  regex: #eb6f1d
);
$code-border: none;

// layout
$hero-frame-padding-mobile: 8px;
$hero-frame-padding: 48px;
$hero-frame-radius: 12px;

// responsiveness
$breakpoints: (
  small: 0,
  medium: 760px,
  large: 1140px
);

@import "~foundation-sites/scss/foundation";