.Markdown {
  

  h1, h2, h3, h4 {
    margin-top: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    .header-anchor {
      font-size: 0.8em;
      vertical-align: baseline;
      margin-left: -.9em;
      border-bottom: 0;
      text-decoration: none;
      opacity: 0;
    }

    &:hover .header-anchor {
      opacity: 1;
    }
  }

  h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid $medium-gray;
  }

  a {
    border-bottom: 1px solid currentColor;
  }

  p {
    margin: 1.2em 0;
  }

  hr {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid $medium-gray;
  }

  ul, ol, dl {
    margin: 1.2em 0;
    padding-left: 1.2em;
  }

  ul ul {
    margin-top: .6em;
  }

  ul {
    list-style-type: disc;
  }

  li {
    word-wrap: break-all;
  }

  li > p {
    margin-top: 1.2em;
  }

  li + li {
    margin-top: .2em;
  }

  pre, code {
    padding: .125em .25em;
    border-radius: 4px;
  }

  pre {
    border-radius: 6px;
    word-wrap: normal;
  }

  pre code {
    padding: 0;
  }

  table {
    width: 100%;
    margin: 1.2em 0;
    overflow: hidden;
    border-collapse: collapse;
    // border-radius: 6px;
    border-spacing: 2px;
  }

  thead {
    color: $dark-gray;
  }

  thead, tbody, tfoot {
    // border: 1px solid $light-gray;
  }

  td, th {
    padding: 1rem .6rem;
    text-align: left;
    border-bottom: 1px solid $light-gray;
  }

  // code blocks are wrapped in divs
  div[class*="language-"] {
    margin: 1.2em 0;
    position: relative;
    border-radius: 6px;
  }

  pre[class*="language-"] {
    padding: 1.5em;
    overflow: auto;
    // border-radius: 0.3em;
  }

  pre[class*="language-"]::before {
    font-family: $font-family;
    color: $medium-gray;
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
    font-size: 0.75em;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
  }

  pre.language-bash::before {content: "shell";}
  pre.language-js::before {content: "js";}
  pre.language-css::before {content: "css";}
  pre.language-html::before {content: "html";}
  pre.language-svg::before {content: "svg";}
}

.Markdown.Markdown--invert {
  color: mix($text-invert, $text-invert-alt, 50%);

  h1, h2, h3, h4, h5, h6 {
    color: $text-invert;
  }
}