h1, h2, h3, h4, h5, h6 {
  .header-anchor {
    font-size: 0.8em;
    // float: left;
    vertical-align: baseline;
    margin-left: -1.125em;
    padding-right: 0.2em;
    // margin-top: 0.125em;
    text-decoration: none;
    opacity: 0;
  }

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.65rem; }
h3 { font-size: 1.35rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

h2, h3 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}

code {
  font-size: .875em;
}

pre.language-js::before,
pre.language-css::before,
pre.language-html::before {
  font-family: $body-font-family;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
  }

pre.language-js::before {content: "JS";}
pre.language-css::before {content: "CSS";}
pre.language-html::before {content: "HTML";}