.frame {
  background-color: #fff;
  display: block;
  z-index: 100;
  position: absolute;
}

.frame.frame--left, .frame.frame--right {
  height: 100%;
  width: $frame-width;
  top: 0;
  bottom: 0;
}

.frame.frame--top, .frame.frame--bottom {
  width: 100%;
  height: $frame-width;
  left: 0;
  right: 0;
}

.frame.frame--left {left: 0;}
.frame.frame--right {right: 0;}
.frame.frame--top {top: 0;}
.frame.frame--bottom {bottom: 0;}

.hero {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $hero-bg-color;
  color: $hero-main-color;
  position: relative;
}

.hero__wrap {
  padding: 2em 0;
}

.half {
  padding: 2em 0;
}

.wheelDemo {
  max-width: 290px;
  margin: 0 auto;
}

.iroLogo {
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  stroke: $hero-main-color;
}

.subheading {
  font-weight: normal;
  font-size: 1.17em;
  margin: 8px 0;
  padding: 0 4em;
  text-align: center;
}

.buttonGroup {
  margin: 0 -4px;
  margin-top: 36px;
  text-align: center;
}

.buttonGroup .button {
  margin: 0 4px;
}

@media screen and (min-width: 960px) {
  .hero__wrap {
    padding: 8em 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  
  .half {
    padding: 0;
    min-width: 50%;
  }
  
  .iroLogo {
    height: 130px;
    margin: 0;
    margin-top: 48px;
  }

  .subheading {
    padding: 0;
    text-align: left;
  }

  .buttonGroup {
    text-align: left;
  }

}