@import "_foundation.scss";

$background-dark: #3d475f;
$background-light: #fefefe;
$text-light: #fefefe;
$text-dark: #3b3b3b;
$default-color: rgb(255, 108, 117);
$border-width: 8px;

$body-background: $background-dark;
$body-font-color: $text-light;
$header-color: $text-light;
$body-font-family: "Open Sans";
$header-font-family: "Poppins";

$anchor-color: $default-color;

$breakpoints: (
  small: 0,
  medium: 724px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

$header-sizes: (
  small: (
    h1: 36,
    h2: 30,
    h3: 24,
    h4: 18,
    h5: 16,
    h6: 16
  ),
  medium: (
    h1: 44,
    h2: 36,
    h3: 28,
    h4: 22,
    h5: 18,
    h6: 16
  )
);

$codeSyntax: (
  color: #f1f1f1,
  background: $background-dark,
  comment: #9fa5b0,
  punctuation: #88caf5,
  property: #ffa553,
  boolean: #fb6b92,
  string: #b7e082,
  variable: #ffe070,
  atrule: #a6b7ff,
  keyword: #ca9cff,
  regex: #fd971f
);

@include foundation-global-styles;
@include foundation-typography-base;

.wrap {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.page {
  background: $background-light;
  position: relative;
}

.logo {
  display: block;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $default-color;
  stroke-width: 0.2em;
}

.menu__head, .menu__wrap {
  background: $body-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;

  @include breakpoint(large) {
    width: 300px;
  }
}

.menu__head {
  z-index: 2;
  //background: $body-background;

  .logo {
    margin: 32px auto;
    height: 50px;
    fill: $default-color;
    stroke: none;
    padding: 4px 12px;
    border-bottom: 3px solid $default-color;
  }

  @include breakpoint(small only) {
    background: darken($body-background, 8);
    width: 100%;
    height: 48px;
    right: 0;

    .logo {
      float: left;
      height: 48px;
      padding: 8px 12px;
      margin: 0;
      border: 0;
    }
  }
}

.menu__toggle {
  float: right;
  padding: 12px;
  height: 48px;

  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }

  .icon {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .icon, .icon:before, .icon:after {
    transition-property: background-color, transform;
    transition-duration: 0.3s;
    background-color: $default-color;
    display: block;
    width: 24px;
    height: 4px;
  }

  .icon:before, .icon:after {
    position: absolute;
    content: "";
  }

  .icon:before { top: -9px; }
  .icon:after { top: 9px; }

  &.is-active {
    .icon { background-color: transparent; }
    .icon:before { transform: translateY(9px) rotate(45deg); }
    .icon:after { transform: translateY(-9px) rotate(-45deg); }
  }
}

.menu__wrap {
  padding: 7em 0;
  height: 100vh;
  z-index: 1;
  font-size: 1.1rem;
  left: 0;

  @include breakpoint(small only){
    font-size: 1.2rem;
    padding: 48px 0 0 0;
    width: 100%;
    transition: transform 0.3s;
    transform: translateX(-100%);

    &.is-active {
      transform: translateX(0);
    }
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu__list__item {

  line-height: 2em;

  a {
    display: block;
    border-left: 3px solid transparent;
    font-family: $header-font-family;
    padding: 8px 12px;

    &:hover, &:focus{
      color: darken($default-color, 8);
    }

    &.router-link-active {
      border-left-color: $default-color;
    }
  }
}

.page-body {
  min-height: 100vh;
  max-width: 700px;
  padding: 12px;

  @include breakpoint(small only){
    margin-top: 48px;
  }

  color: $text-dark;

  @include breakpoint(medium) {
    margin-left: 200px;
  }

  @include breakpoint(large) {
    padding: 32px;
    margin-left: 332px;
  }

  code {
    font-size: 1em;
    border-radius: 5px;
    border: 0;
    color: map-get($codeSyntax, color);
    background: map-get($codeSyntax, background);
  }

  pre code {
    //font-weight: bold;
    font-size: 0.9rem;
  }

  ul ul {
    list-style-type: circle;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul ul ul {
    list-style-type: square;
  }

  ul p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h3, h4, h5, h6 {
    color: $text-dark;
  }

  h1, h2 {
    color: $default-color;
  }

  h3 {
    margin: 1.5em 0 0.8em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid lighten($text-dark, 64);
  }

  a:hover, a:focus {
    text-decoration: underline;
  }
}

.error-wrap {
  width: 100%;
  text-align: center;
  position: relative;
  height: 100vh;
}

.error-message {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  h2 {
    color: #f95e5e;
  }
}

/* LANDING PAGE ONLY */

.frame {
  display: none;
  @include breakpoint(medium) {
    display: block;
    z-index: 100;
    background-color: $default-color;
    position: fixed;
  }
}
.frame.frame--left, .frame.frame--right {
  height: 100vh;
  width: $border-width;
  top: 0;
  bottom: 0;
}
.frame.frame--top, .frame.frame--bottom {
  width: 100vw;
  height: $border-width;
  left: 0;
  right: 0;
}
.frame.frame--left { left: 0; }
.frame.frame--right { right: 0; }
.frame.frame--top { top: 0; }
.frame.frame--bottom { bottom: 0; }

.wheel {
  margin: 24px auto;
  cursor: default;
}

.subtitle {
  font-family: $header-font-family;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: $default-color;
}

.button-grid {
  @include clearfix;
  margin-left: -12px;
}

.button-box {
  padding-left: 12px;
  float: left;
  width: 50%;
}

.button {
  font-family: $header-font-family;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  color: $default-color;
  border: 0.2em solid $default-color;

  &:hover, &:focus {
    color: inherit;
  }
}

@import "prism.scss";
